<div class="about-page">
  <header class="pageHeader">
    <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.About' | translate}}</h3>
  </header>

  <div class="reduced-font text-link" [@fadeInOut]>
    <h4>Scaler Capstone Project</h4>    

    <div class="bg-light bg-features">
      <h5>Features</h5>
      <i class="fa fa-bolt text-white logo"></i>
      <ul>
        <li>Clean and simple Angular/.NET Core code to start with</li>
        <li>.NET Aspire integrations</li>
        <li>Data Access Layer built with the Repository and Unit of Work Pattern</li>
        <li>Code First Database</li>
        <li>A RESTful API Design</li>
        <li>Theming with SASS</li>
        <li>CRUD APIs</li>
      </ul>
    </div>

  </div>
</div>
